{% extends 'learning_logs/base.html' %}

{% block content %}

<h1>Topic: {{ topic }}</h1>

<p>Entries:</p>

<p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add an entry</a>
</p>

<ul>
    {% for entry in entries %}
        <li>
            <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ entry.text|linebreaks }}</p>
        </li>
    {% empty %}
        <li>There are no entries for this topic. Try adding one!</li>
    {% endfor %}
</ul>

{% endblock content %}
